/* ------------------
    main or utilities 
    ------------------*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* --------------
 Background image
----------------- */
.background-image{
    background-image: url("../assets/images/working.png");
}
/*---------------
     Card images
 ------------------*/
/* .student-card {
    height: 400px;
    width: 312px;
 } */
